.aboutus{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 720px;
    background: url(../images/wave\ 2.svg) no-repeat;
    background-size: cover;
    text-align: center;
    font-family:"Montserrat" sans-serif;
}

.aboutus__container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    transform: translateY(-80px);
}

.aboutus__header{
    display: inline-block;
    color: #fff;
    font-size: 48px;
    padding: 50px 0 10px 0;
    font-weight: 500;
    letter-spacing: 2px;
}

.aboutus__header--red{
    color: rgb(214, 29, 29);
    font-weight: 700;
}

.aboutus__box{
    display: block;
    width: 25%;
    height: auto;
    margin-bottom: 30px;
}
.aboutus__img{
    width: 80%;
    border-radius: 15px;
    
}

.aboutus__name{
    padding: 10px;
    font-style: italic;
    font-size: 22px;
    font-weight: 300;
}
@media (min-width: 1320px){
    .aboutus__box{
        width: 20%;
        
    }
}

@media (max-width: 1110px){
    .aboutus__container{
        width: 99%;
    }

    .aboutus__box{
        width: 220px;
        height: auto;
    }
}

@media (max-width: 875px){
    .aboutus__img{
        width: 180px;
    }
}

@media (max-width: 664px){
    .aboutus{
        height: 900px;
    }

    .aboutus__header{
        position: relative;
        top: -20px;
    }

}

@media (max-width: 443px){
    .aboutus__box{
        position: relative;
        width: 170px;
    }

    .aboutus__img{
        width:80%;
        margin: 10px;
    }

    .aboutus__header{
        margin-top: 50px;
    }
}

