.extra-section {

    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 70vh;
    text-align: center;
    font-family:"Montserrat" sans-serif;
    margin-bottom: 70px;
    padding-top: 50px;
}

.extra-header{
    font-family: "Montserrat";
    font-weight: 450;
    color: black;
    font-size: 40px;

}

.extra-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.extra-col-1{
margin-top: 70px; 
min-width: 20%;
}

.mobile-phone{
  width: 70%;
  padding-bottom: 30px;
  padding-left: 40px;
}

.extra-col-2{
padding-bottom: 50px;
padding-top: 50px;
}

.extra-col-3{
 margin-top: 70px;
 margin-bottom: 60px;
 min-width: 15%;
}

.extra-card {
    width: 280px;
    height: 150px;
    margin-top: 50px;
  }

  .extra-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    -webkit-transition: transform 0.8;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
  }

  .extra-card:hover .extra-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }
  

  .extra-card-front, .extra-card-back {
    position: absolute;
    width: 100%;
    height: 100%; 
    font-family: Raleway, sans-serif;
    border-radius: 9px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
  

  .extra-card-front {
    display: flex;
  
  }

  .extra-card-front p{
   margin-top: 20%;
   font-size: 18px;
   font-weight: 600;
  }
  

  .extra-card-back {
    color: black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    text-align: center;
  }
  .extra-card-back p{
    font-size: 20px;

  }

  .extra-icon {
    width: 90px;
    height: 120px;
  }

  .extra-btn{
    border: 1px solid indigo;
    border-radius: 30px;
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    background-color: indigo;
    display: block;
    width: 40%;
  }

  .extra-btn:hover {
    color: white;
    background-color: rgb(88, 0, 151);
    text-decoration: none;
  }

  @media (max-width:767px){

    .mobile-phone{
      width: 60%;
      padding-left: 20px;
    }

    .extra-card {
      width: 150px;
      height: 100px;
      margin-top: 50px;
    }

    .extra-card-front p{
      margin-top: 20%;
      font-size: 15px;
      font-weight: 900;
     }
     .extra-col-2{
      padding-top: 80px;
      min-width: 30%;
      }

      .extra-col-3{
        margin-bottom: 80px;
        min-width: 20%;
        margin-top: -60px;
       }

       .extra-card-back p{
        width: 100%;
        height: auto;
        font-size: 15px;
    
      }

      .extra-icon {
        width: 80px;
        height: 100px;
      }

      .extra-btn{
        font-size:20px ;
        width: 70%;
        padding: 10px;
      }

      .extra-section{

        padding-top: 20px;
      }


  }
