* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

.Hero {
    background-color: #333;
    padding: 15px 8px;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: fixed;
    transition: 0.5s;
}

.container {
    max-width: 1500px;
    height: 10%;
    margin: 0 auto;
}

.Hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-corona {
    width: 100px;
    height: auto;
    padding: 0;
    margin-left: 5%;
}

nav a:hover {
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid;
    border-bottom-color: rgb(230, 45, 45);
    transition: border-bottom-color 0.5s;
}

nav ul {
    margin-bottom: 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px; 
}

li>a {
    display: block;
    float: right;
    width: auto;
    padding: 5px 10px 0 0;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #fff;
    margin-right: 10px;
}

.fa-bars {
    display: none;
}



/* section about */

/* .section-about {
    padding-top: 68px;
    
} */

.carousel-item  {
    padding-top: 68px;
} 

.carousel-caption h1,
.carousel-caption p {
    font-family: 'Montserrat', serif;
  
} 



#slide-1,
#slide-2 {
    left: 12%;
    top: 40%;
    width: 40%;
    margin:0;
}

#slide-1 h1,
#slide-1 p,
#slide-2 h1,
#slide-2 p  {
   text-align: left;
}

#slide-1 button,
#slide-2 button  {
    float: left;
}

#slide-3 {
  display: flex;
  flex-direction: column;
 align-items: left;
    left: 50%;
    top: 40%;
    width: 40%;
    margin:0;
}

#slide-3 h1,
#slide-3 p,
#slide-3 .store-icons {
    text-align: left;
}
#slide-3 button {
    float: center;
}

.btn  {
    height: 55px;
    padding: 0;
    margin-top: 20px;
    width: 150px;
    border: none;
    background: rgb(220, 54, 140);
    transition: 0.3s;
    margin: 0 auto;
    border-radius: 30px;
    z-index: 20;

}

.btn:hover {
    background-color: rgba(220, 54, 140, 0.8);
}

.btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    height: 55px;
    color: white;
} 

.store-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}



.first img {
    width: 50%;
    padding-top: 20px;
   
    
}
.second img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
   
}

 @media (max-width: 350px) {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 0.8em;
    }
    .carousel-caption p {
        font-size: 0.5em;
    }
    
    .btn  {
        height: 24px;
        width: 70px;
        
         }
    .btn a {
        font-size: 0.6em;
        height: 24px;
        line-height: 24px;
       
        }
        .first img {
            width: 30%;
            padding-top: 2px;
           
            
        }
        .second img {
            display: none;
           
        }
    
}

@media (min-width: 351px) and (max-width:421px) {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 0.9em;
    }
    .carousel-caption p {
        font-size: 0.6em;
    }
    
    .btn  {
        height: 30px;
        width: 80px;
       }
    .btn a {
        font-size: 0.7em;
        height: 30px;
        line-height: 30px;
     }
     .first img {
        width: 30%;
        padding-top: 2px;
       
        
    }
    .second img {
        display: none;
       
    }

    
}

@media (min-width: 422px) and (max-width: 576px)  {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 1.2em;
    }
    .carousel-caption p {
        font-size: 0.8em;
    }
    
    .btn  {
        height: 35px;
        width: 110px;
       }
       .btn a {
        font-size: 1em;
        height: 40px;
        } 
        
        .first img {
            width: 40%;
            padding-top: 2px;
           
            
        }
        .second img {
            display: none;
           
        }
}

@media (min-width: 577px) and (max-width: 768px)  {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 1.5em;
    }
    .carousel-caption p {
        font-size: 0.9em;
    }
    #slide-3 {
        top: 30%;
    }
    
    .btn  {
        height: 40px;
        width: 120px;
       }
    .btn a {
        font-size: 1em;
        height: 40px;
        
    } 
}

@media (min-width: 769px) and (max-width: 992px)  {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 1.7em;
    }
    .carousel-caption p {
        font-size: 1.1em;
    }
    #slide-3 {
        top: 30%;
    }
  }

@media (min-width: 993px) and (max-width: 1199px)  {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 2.5em;
    }
    .carousel-caption p {
        font-size: 1.7em;
    }
    #slide-3 {
        top: 30%;
    }
    
} 
@media (min-width: 1200px) and (max-width: 1500px)  {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 3em;
    }
    .carousel-caption p {
        font-size: 2em;
    }
    #slide-3 {
        top: 20%;
    }

    .store-icons {
        padding-top: 50px;
      
    }
    
}

@media (min-width: 1501px) {
    .carousel-caption{
        padding: 0;
    }
    .carousel-caption h1 {
        font-size: 3em;
    }
    .carousel-caption p {
        font-size: 2em;
    }
    .store-icons {
        padding-top: 140px;
    }
    #slide-3 {
        top: 25%;
    }
    
} 
    



.footer {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    color: #fff;
    bottom: 0;
    align-items: center;
}

.copyright {
    align-items: center;
    padding-top: 10px;
}

.footer-icon {
    display: inline;
}

.footer i {
    padding-right: 15px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2000;
    font-size: 36px;
    border: none;
    outline: none;
    background-color: rgba(95, 95, 95, 0.74);
    color: white;
    cursor: pointer;
    padding: 0px 18px;
    border-radius: 20%;
}

#myBtn:hover {
    background-color: #555;
}

@media (max-width: 730px) {
    .menu li {
        width: 100%;
        justify-content: center;
        max-height: 80px;
        overflow: hidden;
    }
}

@media (max-width: 760px) {
    .menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        top: 0;
    }

    .fa-bars {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        display: flex-end;
        color: #fff;
        z-index: 5;
        margin-right: 15%;
    }

    .fa-bars:hover {
        color: rgb(230, 45, 45);
        transition: color 0.5s;
    }

    .site-menu {
        display: flex;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        height: 100vh;
        width: 200px;
        color: #fff;
        background-color: #333;
        justify-content: center;
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .site-menu ul {
        padding: 20px;
        list-style-type: none;
        margin: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-end;
    }

    .site-menu li {
        margin: 10px;
        padding: 10px 5px 0 0;
        color: #333;
        flex-basis: 100%;
  }
    
    .menu>li>a:hover {
        transform: translateY(100%);
        display: flex;
    }

    .site-menu a {
        display: flex;
        padding: 10px 10px 0 0;
        box-sizing: border-box;
        text-decoration: none;
        float: left;
        height: 100%;
        width: auto;
    }

    .fa-bars:hover ~ .site-menu, .site-menu:hover {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        transition: 0.3s transform ease-in-out;
    }
}
}