* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Montserrat, sans-serif;
}

.Hero {
    background-color: #333;
    padding: 20px 8px;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    position: fixed;
}

.container {
    max-width: 1500px;
    height: 10%;
    margin: 0 auto;
}

.Hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-corona {
    width: 70px;
    height: auto;
    padding: 0;
    margin-left: 0 5%;
    background: #fff;
}

nav a:hover {
    text-decoration: none;
    color: #f2f2f2;
    border-bottom: 3px solid;
    border-bottom-color: rgb(230, 45, 45);
    transition: border-bottom-color 0.5s;
}

nav ul {
    margin-bottom: 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

li>a {
    display: block;
    float: right;
    width: auto;
    padding: 5px 15px 5px 0px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #f2f2f2;
    margin-right: 10px;
}

#nav-trigger {
    display: none;
}

.Hero h2 {
    color: #f2f2f2;
    flex-shrink: 2;
}



.section-about .bg {
    width: 100%;
    height: 800px;
    background-color: rgba(51, 51, 51, 0.2);
}

.carousel-caption {
    background: rgba(2, 2, 2, 0.4);
}

.about-hero-content>p {
    margin: 0 auto;
    font-size: 18px;
    color: white;
    line-height: 27px;
    text-align: center;
}


.carousel-caption h1,
.carousel-caption p {
    font-family: Montserrat, serif;
}

.about-hero-action {
    height: 55px;
    padding: 0;
    margin-top: 20px;
    width: 150px;
    border: none;
    background: red;
    transition: 0.3s;
    margin: 0 auto;
}

.about-hero-action:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.about-hero-action a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 55px;
    color: white;
}


@media (max-width: 600px) {
    .section-about {
        height: 600px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/market_640x425.jpg);
        background-size: cover;
        background-position: center;
    }

    .section-about .bg {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 51, 51, 0.2);
    }

    .about-container {
        position: absolute;
        width: 100%;
        top: 35%;
        left: 0;
        padding: 0 20px;
    }

    .about-hero-content {
        max-width: 300px;
        text-align: center;
    }

    .about-hero-content>h1 {
        font-size: 25px;
    }

    .about-hero-content>p {
        font-size: 16px;
    }

    .about-hero-action {
        height: 50px;
        width: 150px;
    }
}

@media (min-width: 600px) and (max-width: 1280px) {
    .section-about {
        height: 600px;
        background-image: url(../images/market_1280x850.jpg);
    }

    .section-about .bg {
        height: 600px;
        background-color: rgba(51, 51, 51, 0.2);
    }

    .about-container {
        position: absolute;
        width: 100%;
        top: 25%;
        left: 0;
        padding: 0 20px;
    }

    .about-hero-content>h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .about-hero-content>p {
        font-size: 18px;
    }
}

 footer {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: #f2f2f2;
    bottom: 0;
}

.footer-icon {
    display: inline;
}

footer i {
    padding-right: 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2000;
    font-size: 36px;
    border: none;
    outline: none;
    background-color: rgba(95, 95, 95, 0.74);
    color: white;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 20%;
}

#myBtn:hover {
    background-color: #555;
}

@media (max-width: 730px) {
    .menu li {
        width: 100%;
        justify-content: center;
        max-height: 80px;
        overflow: hidden;
    }
}

@media (max-width: 760px) {
    .menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-content: stretch;
        box-sizing: border-box;
        top: 0;
    }

    #nav-trigger {
        box-sizing: border-box;
        border-style: none;
        display: flex;
        justify-content: flex-end;
        color: #fff;
        padding: 10px 10px 5px 10px;
        margin-right: 10%;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 20px;
        height: 100%;
        background: #333;
        outline: none;
    }

    #nav-trigger:hover {
        border-bottom: 3px solid;
        border-bottom-color: rgb(230, 45, 45);
        transition: border-bottom-color 0.5s;
    }

    .site-menu {
        display: flex;
        box-sizing: border-box;
        position: absolute;
        top: 71px;
        right: 0;
        height: 320px;
        width: 200px;
        background-color: #333;
        justify-content: center;
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }

    .site-menu ul {
        padding: 20px;
        list-style-type: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }


    .site-menu li {
        margin-top: 15px;
        color: #fff;
        flex-basis: 100%;
  }
    
    .menu>li>a:hover {
        transform: translateY(100%);
        display: flex;
    }

    .site-menu a {
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        text-decoration: none;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    #nav-trigger:hover ~ .site-menu, .site-menu:hover {
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        transition: 0.3s transform ease-in-out;
    }
}


@media (max-width: 1025px){
    .Hero h2 {
        display: none;
    }
}
