* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Raleway, sans-serif;
}

.Hero {
    background-color: #333;
    padding: 20px 10px;
    width: 100%;
    height: auto;
    overflow: visible;
    position: fixed;
}

.container {
    max-width: 1500px;
    height: 10%;
    margin: 0 auto;
}

.Hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav a:hover {
    border-bottom: 3px solid;
    border-bottom-color: rgb(230, 45, 45);
    transition: border-bottom-color 0.5s;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

li>a {
    display: block;
    float: right;
    width: auto;
    padding: 5px 15px 5px 0px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: #f2f2f2;
    margin-right: 20px;
}

#Menu {
    display: none;
}

.Hero h2 {
    color: #f2f2f2;
}

.section-about {
    height: 70vh;
    display: flex;
    align-items: stretch;
    position: relative;
    background-image: url(../images/market_1920x1248.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(36, 33, 33);
}

.section-about .bg {
    width: 100%;
    height: 70vh;
    background-color: rgba(51, 51, 51, 0.2);

}

.about-container {
    position: absolute;
    top: 15%;
    left: 69%;
}

.about-hero-content {
    max-width: 350px;
    text-align: center;
}

.about-hero-content>h1 {
    font-size: 45px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.about-hero-content>p {
    margin: 0 auto;
    font-size: 18px;
    color: white;
    line-height: 27px;
    text-align: center;

}

.about-hero-action {
    height: 55px;
    padding: 0;
    margin-top: 20px;
    width: 150px;
    border: none;
    background: red;
    transition: 0.3s;

}

.about-hero-action:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.about-hero-action a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 55px;
    color: white;
}

@media (max-width: 600px) {
    .section-about {
        height: 50vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../images/market_640x425.jpg);
        background-size: cover;
        background-position: center;
    }

    .section-about .bg {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50vh;
        background-color: rgba(51, 51, 51, 0.2);

    }

    .about-container {
        /* justify-content: center;
        align-items: center; */
        position: absolute;
        width: 100%;
        top: 35%;
        left: 0;
        padding: 0 20px;
    }

    .about-hero-content {
        max-width: 400px;
        text-align: center;
    }

    .about-hero-content>h1 {
        font-size: 30px;

    }

    .about-hero-content>p {

        font-size: 16px;
    }

    .about-hero-action {
        height: 50px;
        width: 150px;
    }
}

@media (min-width: 601px) and (max-width: 1280px) {
    .section-about {
        height: 60vh;
        background-image: url(../images/market_1280x850.jpg);

    }

    .section-about .bg {
        height: 60vh;
        background-color: rgba(51, 51, 51, 0.2);

    }

    .about-container {
        position: absolute;
        width: 100%;
        top: 25%;
        left: 0;
        padding: 0 20px;
    }

    .about-hero-content>h1 {
        font-size: 40px;
        padding-bottom: 20px;

    }

    .about-hero-content>p {
        font-size: 18px;
    }

}


footer {
    background-color: #333;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: #f2f2f2;
    bottom: 0;
}

footer a p {
    display: inline;
}

@media (max-width: 730px) {
    .menu li {
        width: 100%;
        justify-content: center;
        max-height: 80px;
        overflow: hidden;
    }
}

@media (max-width: 729px) {
    #Menu {
        display: block;
    }

    .menu > li{
        max-height: 10%;
        justify-content: right;
        transform: translateY(10%);
    }

    .menu > li > a:hover {
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
}



@media (max-width: 1012px){
    .Hero h2{
        display: none;
    }
}