.pricing{
    font-family: "Montserrat";
    width: 100%;
    text-align: center;
    margin: 200px 0;
}

.pricing__header{
    display: block;
    width: 60%;
    font-weight: 500;
    color: black;
    font-size: 45px;
}

.pricing__paragraph{
    display: block;
    width: 40%;
    margin-top: 35px;
    font-size: 1.4rem;
}

.pricing__container {
    position: relative;
    display: flex;
    max-width:1100px;
    flex-flow: row nowrap;
    margin-top: 120px;
    z-index: 0;
}

.pricing__box {
    width: 300px;
    height: 400px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    padding: 25px 25px;
    box-shadow: -5px 20px 20px -6px rgba(0,0,0,0.75);
    z-index: -1;
}

.box--featured{
    position: relative;
    transform: scale(1.2);
    border: none;
    background-color: #333;
    z-index: 0;
}

.box--featured::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
}

.box--featured::after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(-60deg, rgb(115, 202, 236), rgb(175, 51, 224));;
    z-index: -2;
    transform: skew(2deg, 2deg);
}

.box-skew::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
}

.box-skew::after{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(-60deg, rgb(182, 182, 182), rgb(182, 182, 182));;
    z-index: -2;
    transform: skew(2deg, 2deg);
}

.box__bestseller{
    position: absolute;
    display: flex;
    top: 110px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    color: black;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.box__title{
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0 20px;
}

.box__price{
    font-size: 28px;
    font-weight: 500;
}

.box__button{
    background-color: rgb(200, 200, 200);
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
   
}

.box__button:focus{
    outline: none;
}

.box__button:hover{
    background-color: #fff;
    box-shadow: 0px 2px 15px 2px rgba(255,255,255,1);
    
}

.slidecontainer{
    margin-top: 100px;
    width: 30%;
}

.slider{
    position: relative;
  -webkit-appearance: none;  
  appearance: none;
  width: 100%; 
  height: 25px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  border-radius: 15px ;
}

.slider:hover {
    opacity: 1; 
  }

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 40px; 
    height: 20px; 
    border-radius: 15px;
    background: #42aada; 
    cursor: pointer; 
    z-index: 1;
}

.sliderdays{
    font-size: 2.4rem;
    font-weight: 600;
}

.sliderText{
    font-size: 1.4rem;
}


@media (max-width: 1100px){
    .pricing__container{
        zoom: 0.8;
    }

    .pricing__paragraph{
        width: 70%;
    }

    .slidecontainer{
        width: 40%;
    }
}

@media (max-width: 850px){
    .pricing__container{
        zoom: 0.6;
    }

    .pricing__header{
        font-size:40px;
    }

    .slidecontainer{
        zoom: 0.8;
    }
}

@media (max-width: 625px){
    .pricing{
        margin: 50px 0 150px;
    }

    .pricing__container{
        width: 95%;
        zoom: 0.5;
    }

    .pricing__header{
        width: 80%;
        font-size: 30px;
    }

    .pricing__paragraph{
        font-size: 18px;
    }

    .slidecontainer{
        margin-top: 80px;
        width: 50%;
        zoom: 0.7;
    }
}