.product-info{
    height: 600px;
    width: 100%;
    margin:240px 0 0 0;
    padding: 0;
    background: url(../images/wave.svg), no-repeat;
    background-size: cover;
    font-family: "Montserrat",sans-serif;
}

.product-info__header{
    position: relative;
    width: 60%;
    text-align: center; 
    font-size: 58px;
    font-weight: 500;
    transform: translateY(-150px);
    color: black;
}

#product-section{
    content: '';
    position: relative;
    display: block;
    width: 1px;
    transform: translateY(100px);
    
}

.product-info__arrow{
    color: rgb(238, 31, 31);
    font-size: 60px;
    margin-top: 20px;
}

.product-info__container{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    height: 100%;
    margin: auto;
    align-content: center;
    text-align: center;
    transform: translateY(-110px);
}

.product-info__box{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: space-evenly;
    height: 260px;
    width: 300px;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}

.product-info__icon{
    display: block;
    height: 60%;
    width: 50%;
    padding-top: 13%;
    font-size: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    color: rgb(51, 51, 51);
    transition: all .7s ease-in-out;
}

.product-info__icon-plant{
    padding-top: 15% 0 0 20px;
}

/* .product-info__icon--white{
    background-color: #fff;
    color: rgba(51, 51, 51, 0.945);
}

.product-info__icon:hover{
    background-color: #fff;
    color: rgba(51, 51, 51, 0.945);
} */

/* .product-info__icon--white:hover{
    background-color: rgba(51, 51, 51, 0.945);
    color: #fff;
} */

.product-info__paragraph{
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 35px;
    color: rgb(0, 0, 0);
}

@media (max-width: 600px){
.product-info{
    margin:0px 0 450px 0;
    height: 900px;
    width: 100%;
    background:none;
}

.product-info__header{
    font-size: 38px;
    transform: translateY(-200px);
}

.product-info__arrow{
    font-size: 40px;
}

   
.product-info__container{
        width: 90%;
        margin-top: 0px;
}

.product-info__box{
    height: 230px;
    width: 70%;
    margin: 2px auto;
}

.product-info__icon{
    font-size: 46px;
    height: 120px;
    width: 120px;
    padding-top: 35px;
    margin-top: 5%;
}

.product-info__paragraph{
    margin-top: 0px;
    line-height:auto;
    font-size: 1.5rem;
}
}

@media (min-width: 601px) and (max-width: 875px){
    .product-info{
        height: 900px;
        width: 100%;
        margin-top: 0;
    }

    .product-info__header{
        font-size: 48px;
        transform: translateY(-150px);
    }
    
       
    .product-info__container{
            width: 90%; 
            transform: translateY(-300px); 
    }
    
    .product-info__box{
        height: 24%;
        width: 50%;
        margin: 2px auto;
    }
    
    .product-info__icon{
        font-size: 44px;
        height: 100px;
        width: 100px;
        padding-top: 28px;
        margin-top: 5%;
    }
    
    .product-info__paragraph{
        margin-top: 0px;
        line-height:auto;
        font-size: 1.5rem;
    }
}

@media (min-width: 1120px) and (max-width: 1600px){
    .product-info__container{
        width: 100%;
    }

    .product-info__box{
        width: 25%;
    }

    .product-info__icon{
        width: 150px;
        height: 150px;
        padding-top: 42px;
    }
}

@media (min-width: 1350px){
    .product-info__span{
        display: block;
    }
}
