.sign-in-section {
    font-family:"Montserrat";
    background-color: #97d5f0;
    padding-top: 30px;
}

.sign-in-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 60px;
  
}

.sign-in-container-txt {

    max-width: 550px;
  
}

.form-container{
  position: relative;
}

.Sign-Info {
  color: white;
  font-size: 50px;
}

.Sign-Color {
  color: indigo;
}


.sign-in-form{
    font-size: 20px;
    text-align: center;
    max-width: 550px;
    max-height: auto;
    border:1px black solid;
    padding: 30px;
    border-radius: 8px;
    background-color: white;

}

 input[type=email], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:1px black solid;
    border-radius: 5px;
    background: none;
    text-align: left;
    outline: none;
    height: 30px;
  }


  
  input[type=submit]{
    background:indigo;
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin-top: 10px;
    color: white;
    font-weight: 700;
  }

  input[type=submit]:hover{
  transform: scale(1.05);
  border: 3px solid black;
  outline: none;
  }

  .sign-agree {

    font-size: 12px;
    margin-top: 10px;
  }

  input[type=email]:hover, input[type=text]:hover{

    border-bottom:3px solid black;
    transform: scale(1.05);
    color:black;
  }

  .check{
    display: flex;
    align-items:flex-start;
    text-align: left;
    margin: 10px;;
  }

  .chkbox{
    margin-top: 12px;
    margin-right: 10px;
  }



  .play-logo{
    text-align: center;
    height: 250px;
  }

  .play-logo h1 {
    font-size: 35px;
  }

  .hidden-link{
    border:1px solid green;
    text-decoration: none;
    color: white;
    font-size: 35px;
    padding: 15px;
    border-radius: 10px;
    background-color: green;
  }

  .hidden-link:hover{
    text-decoration: none;
    color: white;
    font-size: 40px;
  }
  
  .last-txt{

    padding-bottom: 15px;
  }

  @media (max-width:767px){
    .Sign-Info{
      font-size: 35px;
    }
    
    .sign-agree {

      font-size: 9px;
      margin-top: 0px;
    }

    .play-logo{
      font-size: 20px;
    }
}