.sign-in-section {

    background: rgba(51, 51, 51, 0.945);
}

.sign-in-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.sign-in-container-img {

    max-width: 220px;
 
}
.sign-in-img{

    width:100%;
    height: auto;
}
.sign-in-form{
    color: #f2f2f2;
    font-size: 20px;
    text-align: center;
    min-width: 350px;
    max-width: 400px;
}

 input[type=email], input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    border-bottom: 1px white solid;
    background: none;
    text-align: center;
    outline: none;
    color: #f2f2f2;
  }

  .textarea {
    background: none;
    text-align: center;
    color: #f2f2f2;;
    width: 100%;
    border: 1px solid #f2f2f2;
    margin-top: 15px;
    
  }
  
  input[type=submit]{
    background:none;
    width: 60%;
    height: 40px;
    color:#f2f2f2;
    border-radius: 7px;
    margin-top: 10px;
  }

  input[type=submit]:hover{
  transform: scale(1.05);
  }

  .sign-agree {

    font-size: 10px;
    margin-top: 20px;
  }